body {
  background-color: rgb(16, 14, 56);
  color: rgb(134, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
  background-color: rgb(33, 30, 92);
  color: rgb(68, 236, 255);
  padding: 10px;
  border-radius: 5px;
}

code {
  background-color: rgb(33, 30, 92);
  color: rgb(68, 236, 255);
  padding: 2px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.38em;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(0, 255, 255);
}

img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(170, 255, 146);
  font-size: inherit;
}
a:hover {
  color: rgb(55, 255, 0);
}

#content {
  max-width: 800px;
}
